# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Project folders you do NOT want on GitHub
data/*
!data/cbsd_daily_dashboard_2022_01.csv
!data/cbsd_station_trips_sample.csv
outputs/cbsd_kepler_trips_configured.html

outputs/cbsd_kepler_trips_configured.html
